.uno{
    background-color: brown;
    
    
}
.dos{
    background-color: green;
}
#unoparrafos{
    display: flex;
    text-align: center;
}
#parrafosdos{
    display: flex;
}
#intros{
    width: fit-content;
    background-color: white;
    color: brown;
    padding: 10px;
    border-radius: 10px;

}
#noticias{
    background-color: white;
    color: green;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}
.titulos{
    display: flex;
    justify-content: center;
}