body{
    display: flex;
    background-color: plum;
    align-items: center;
}


h1,p{
    color: green;
    background-color: plum;
}

#box{
    color: plum;
    background-color: green;
    text-align: center;
    border-radius: 20px;
    padding: 50px;
    }

#box li{
    padding: 7px;
    list-style: none;
}